.sub-header-div {
    background-color: var(--theme-color-2);
    width: 100%;
    height: 60px;
}

.res-sub-header-div,
.res-counter {
    display: none;
}

.sub-header-div-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selection-div {
    width: 14%;
    height: 34px;
    overflow: hidden;
    background-color: transparent;
}

.selection-div>select {
    -webkit-appearance: none;
    background: url(../../assets//Home/select-dropdown.png) no-repeat right 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-weight: 300;
    font-size: 16px;
}


.selection-div>button {
    font-size: 1.18em;
    font-weight: bold;
    font-style: italic;
    background-color: #000000;
    color: #EEB111;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
}

.hero-section-div {
    width: 100%;
    height: 648px;
    position: absolute;
    z-index: -1;
    background-image: url('../../assets/Home/london-img-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
}

.main-home-div {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 503px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-text-div {
    width: 100%;
    color: #fff;
    text-align: center;
}

.home-text-div>div {
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    margin: 0px 0px 0px 0px;
    font-family: 'Montserrat', sans-serif;
    line-height: 100%;
    font-size: 54px;
}

.home-text-div>p {
    font-size: 1.5rem;
}

.main-home-div-2 {
    width: 100%;
    height: auto;
    background-color: #fff;
}

.main-hd-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.hd-div {
    text-transform: uppercase;
}

.hd-div>h1 {
    font-size: 2.7rem;
    color: var(--theme-color-1);
}

.hd-div>h3 {
    font-size: 2rem;
    display: none;
}

.hd-div>h2 {
    font-size: 2.7rem;
    color: var(--theme-color-2);
    font-style: italic;
    margin-top: -15px;
}

.main-home-div-2 p {
    color: var(--theme-color-1);
}

.seperator {
    width: 100%;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
}

.sub-seperator-div-1,
.sub-seperator-div-2 {
    width: 48%;
    border-bottom: 1px solid #000;
}

.home-banner {
    width: 100%;
    min-height: 60vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.588), rgba(0, 0, 0, 0.588)), url('../../assets/Home/london-img-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-banner p {
    font-size: 20px;
}

.home-banner-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.671), rgba(0, 0, 0, 0.671)), url('../../assets/Home/form.jpg');
    min-height: 90vh;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-main-div {
    width: 800px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

.form-main-div>form {
    padding: 20px;
}

.form-main-div>form>h1 {
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    font-size: 42px;
}

.form-main-div>form>p {
    font-size: large;
}

.form-main-div>form>input {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #fff;
}

.form-main-div>form>input::placeholder,
.form-main-div>form>textarea::placeholder {
    color: #fff;
    text-transform: capitalize;
}

.form-main-div>form>textarea::placeholder {
    text-align: center;
}

.form-main-div>form>textarea {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #fff;
    min-height: 120px;
    max-height: 200px;
    resize: vertical;
}

.form-main-div>form>button {
    border: none;
    background: #EEB111;
    border-radius: 25px;
    font-weight: 600;
    font-size: 20px;
    color: #060606;
    width: 200px;
    padding: 10px;
    margin: 20px auto;
    transition: 0.3s;
}

.home-banner-4 {
    background-image: none;
    height: auto;
}

.main-home-cards-div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.home-card-div {
    width: 382px;
    min-height: 352px;
    background-color: orange;
    background-image: linear-gradient(rgba(0, 0, 0, 0.453), rgba(0, 0, 0, 0.588)), url('../../assets/Home/card1.jpg');
    padding: 20px;
    text-align: start !important;
}

.home-card-div-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.453), rgba(0, 0, 0, 0.588)), url('../../assets/Home/card2.jpg');
}

.home-card-div-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.453), rgba(0, 0, 0, 0.588)), url('../../assets/Home/card3.jpg');
}

.home-card-div>h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.home-card-div>p {
    font-size: 16px;
    margin-bottom: 40px;
}

.home-card-btn {
    border: none;
    background: white;
    border-radius: 15px;
    font-size: 17px;
    text-align: center;
    color: #060606;
    width: 200px !important;
    padding: 10px !important;
    transition: 0.3s;
}

.benefit-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.benefit-sec-img {
    width: 45%;
    height: 300px;
}

.house-img {
    height: 100%;
    width: 100%;
}

.benefit-sec-text {
    width: 45%;
}

.benefit-sec-text h3 {
    text-align: start;
}

.benefit-sec-text ul {
    text-align: start;
    /* padding: 0; */
    font-size: 20px;
}

.benefit-sec-text ul li {
    margin-top: 10px;
}

.benefit-card-div {
    width: 370px;
    height: 300px;
}

.benefit-card-div>p {
    font-size: 16px;
}

.benefit-card-img-div {
    width: 100%;
    height: 45%;
    background-image: url('../..//assets/Home/network-icon.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.benefit-card-img-div-2 {
    background-image: url('../../assets/Home/knowledge-icon.jpg');
}

.benefit-card-img-div-3 {
    background-image: url('../../assets/Home/results-icon.jpg');
}


.home-banner-6 {
    background-color: #f4f4f4;
    padding-top: 40px;
    padding-bottom: 40px;
}

.properties-card-div {
    width: 328px;
    height: 338px;
    text-align: start;
}

.properties-card-div>.img-div {
    width: 100%;
    height: 80%;
    background-size: cover;
}

.properties-card-div-1>.img-div {
    background-image: url('../../assets/Home/internal1.jpg');
}

.properties-card-div-2>.img-div {
    background-image: url('../../assets/Home/internal2.jpg');
}

.properties-card-div-3>.img-div {
    background-image: url('../../assets/Home/internal3.jpg');
}

.properties-card-div>p {
    margin-top: 10px;
}

.sub-properties-card-div-1,
.sub-properties-card-div-3 {
    position: relative;
    z-index: 9;
    float: left;
    width: 110px;
    height: 110px;
    background: transparent url('../../assets//Home/status-underoffer.png') no-repeat;
}

.sub-properties-card-div-3 {
    background: transparent url('../../assets//Home/instruction.png') no-repeat;
}


.sub-properties-card-div-2 {
    position: relative;
    z-index: 10;
    float: left;
    margin: 0px 0px 0px -110px;
    width: 155px;
    height: 155px;
    background: transparent url('../../assets/Home/managed.png') no-repeat;
}


@media screen and (max-width: 992px) {
    .sub-header-div {
        height: 200px;
    }

    .sub-header-div-container {
        flex-wrap: wrap;
    }

    .selection-div {
        width: 49%;
    }

    .selection-div-1 {
        width: 100%;
    }

    .button-div-sub-header {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .button-div-sub-header>button {
        width: 200px;
    }

    .main-home-div {
        height: 360px;
    }

    .main-hd-div {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .form-main-div {
        width: 95%;
    }

    .hd-div>h3 {
        display: block;
    }

    .hd-div>h2 {
        display: none;
    }

    .hd-div>h1 {
        display: none;
    }

    .main-home-cards-div {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .home-card-div {
        width: 48%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 768px) {
    .home-text-div>div {
        font-size: 42px;
    }

    .home-text-div>p {
        font-size: 1.2rem;
    }

    .benefit-section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .benefit-sec-img {
        width: 100%;
    }

    .benefit-sec-text {
        width: 100%;
    }
}

@media screen and (max-width: 566px) {
    .home-card-div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sub-header-div {
        display: none;
    }

    .res-sub-header-div {
        display: flex;
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .res-counter {
        display: flex;
    }

    .counter {
        display: none;
    }

    .button-div-sub-header>button {
        width: 100%;
    }
}