.main-navbar {
    background-color: var(--theme-color-1);
    min-height: 80px !important;
}

.nav-links {
    color: #fff !important;
    text-align: center;
    line-height: 1.0em;
    font-weight: 600;
}

.nav-links:hover {
    color: var(--theme-color-2) !important;
    border-bottom: 1px solid var(--theme-color-2);
}

.nav-active-link {
    color: var(--theme-color-2) !important;
}

.navbar-logo-img {
    height: 80px;
    width: 200px;
}

.nav-phone-link,
.nav-link.active {
    color: var(--theme-color-2) !important;
    text-align: center;
    line-height: 1.0em;
    font-weight: 600;
    font-size: 17px;
}

.nav-phone-link:hover {
    color: #fff !important;
}

.navbar-toggler {
    background-color: #fff;
}

#nav-dropdown {
    color: white;
}

.dropdown-menu {
    padding: 0;
    overflow: hidden !important;
}

.dropdown-menu-item {
    height: 40px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.dropdown-menu-item:hover {
    background-color: var(--theme-color-1);
    color: var(--theme-color-2);
}

.res-phone-icon{
    display: none !important;
}

@media  screen and (max-width: 992px){
    .res-phone-icon{
        display: flex !important;
    }

    .res-phone-icon-2{
        display: none !important;
    }
}