:root {
  --theme-color-1: #000;
  /* --theme-color-2: #eeb111; */
  --theme-color-2: #f3c355;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Poppins", sans-serif;
}

.main-body-div {
  width: 100%;
  min-height: 57.7vh;
  margin-bottom: 100px;
}

.golden-color {
  color: var(--theme-color-2) !important;
}

.white-color {
  color: #fff !important;
}