.property-banner-div {
    height: 150px;
    background-image: url('../../assets/Properties/mian-banner.jpg');
}

.main-property-div {
    width: 100%;
    display: flex;
}


.sub-property-div-1 {
    width: 74%;
}

.sub-property-div-1>h1 {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

.sub-property-div-1>h2 {
    font-size: 1.2rem;
}

.img-main-div {
    margin-top: 40px;
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.img-main-div>img,
.small-img-div>img {
    width: 100%;
    height: 100%;
}

.small-img-main-div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.small-img-div {
    width: 23%;
    height: 120px;
}

.sub-property-div-2 {
    width: 26%;
    height: auto;
    padding: 20px;
}

.sub-property-div-2>button {
    width: 100%;
    padding: 7px;
    background-color: transparent;
    border: 1px solid var(--theme-color-2);
    font-family: inherit;
    font-size: 1.2rem;
    transition: 0.3s;
}

.sub-property-div-2>button:hover {
    background-color: var(--theme-color-1);
    border: 1px solid var(--theme-color-2);
    color: white;
}

.features-div-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feature-div {
    width: 145px;
    height: 32px;
    margin: 5px 0px 20px 0px;
    background-image: url('../../assets/Properties/detail-bedrooms.png');
    background-repeat: no-repeat;
    background-size: contain;
    text-indent: 48px;
    color: #000000;
    font-size: 16px;
    line-height: 32px;
}

.bathroom {
    background-image: url('../../assets/Properties/detail-bathrooms.png');
}

.furnished {
    background-image: url('../../assets/Properties/detail-furnished.png');
}

.marble {
    background-image: url('../../assets/Properties/detail-transport.png');
}

.floor {
    background-image: url('../../assets/Properties/detail-floor.png');
}

.parking {
    background-image: url('../../assets/Properties/detail-parking.png');
}

@media screen and (max-width: 992px) {
    .main-property-div {
        display: block;
    }

    .sub-property-div-1,
    .sub-property-div-2 {
        width: 100%;
    }

    .features-div-main {
        justify-content: space-evenly;
    }
}